body {
    margin: 0;
    background: #e3350d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pokedex {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    width: clamp(300px, 90vw, 280px);
    box-shadow: 0 0 25px #0004;
    text-align: center;
}

h1 {
    color: #e3350d;
    margin-bottom: 15px;
}

.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input{
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

.search-box button {
    padding: 10px 15px;
    background: #2a75bb;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.card {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #0002;
     
}

.card img {
    width: 100px;
    max-width: 250px;

}

.types{
    margin: 10px 0 ;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.type {
    padding: 5px 12px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.buttons{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    padding: 10px 20px;
    background: #2a75bb;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}   